<div id="message_area" style="display:none"></div>
<div>
	<div id="image-container" align="center" >
	  	  
	  <% if @item.image_filename && File.exists?("public/images/items/#{@item.image_filename}") %>
	    <%= image_tag "items/#{@item.image_filename}", :width => '138', :height => '138' %>
	  <% else %>
		  <%= image_tag 'image_bg.png' %>
		<% end %>
	</div>
		
	<div id="form-container">

		<div class="header-text">
			<div style="width:100px">Tool / Equipment Details</div>
		</div>

		<div class="border-filler"></div>
		<div class="field-holder">
			<div id="form-label">
				Serial no:
			</div>
			<div id="form-field">
				<%= text_field :item, :serial_number,:size=>"30*39" %>
			</div>
		</div>
		
		<div class="field-holder">
			<div id="form-label">
				Barcode:
			</div>
			<div id="form-field">
				<%= text_field :item, :barcode, :size=>"30*39" %>
			</div>
		</div>

			
		<div class="field-holder">
			<div id="form-label">
				Tool/Equpment Name:
			</div>
			<div id="form-field">
				<%= text_field :item, :name, :size=>"67*39" %>
			</div>
		</div>
	  
	  <div style="clear:both"></div>
	  <div class="field-holder">
	    <div id="form-label">
	      Brand
	    </div>
	    <div id="form-field">
	        <%= collection_select(:item, :brand_id, @brands, :id, :name) %>
	    </div>
	  </div>
	  
		<div class="field-holder">
			<div id="form-label">
				Description:
			</div>
			<div id="form-field">     
          <%= text_area("item","description", "rows" => 5, "cols" => 1, :style => "width: 408px;")%>
			</div>
		</div>
		
		<div class="field-holder">
		  <div id="form-label">
		    Image Filename
		  </div>
		  <div id="form-field">     
		    	<%= text_field :item, :image_filename, :size=>"67*39" %>
			</div>
		</div>
		
		<div style="clear:both"></div>

		<div class="header-text" style="margin-top:14px;" >Inventory Details</div>
		<div class="border-filler"></div>


		<div class="field-holder">
			<div id="form-label">
				Location:
			</div>
			<div id="form-field">
				<%= collection_select(:item, :storage_location_id, @storage_locations, :id, :name) %>		
			</div>
		</div>
		
		<div class="field-holder">
			<div id="form-label" style="width:100px;padding-right: 5px;">
				Current Quantity:
			</div>
			<div id="form-field">
				<%= text_field :item, :current_qty, :size=>"5" %>
			</div>
		</div>
	
		<div class="field-holder">
			<div id="form-label">
				Measurement:	
			</div>
			<div id="form-field">
				<%= collection_select(:item, :measurement_id, @units, :id, :name) %>
			 </div>
		</div>
			
		<div class="field-holder">
			<div id="form-label" style="width:105px">
				ReOrder Quantity:
			</div>
			<div id="form-field">
				<%= text_field :item, :reorder_qty, :size=>"5" %>
			</div>
    </div>

		<div style="clear:both"></div>

		<div class="header-text" style="margin-top:14px;" >Accessory</div>
		<div class="border-filler"></div>
		
		<div>
		  <%= link_to_remote "[Click to Add Accessory]", :title => 'Click to Add'   ,
             	                    :url => {:action => 'add_accessory' } %>
		</div>
		<br />
		<div id="item_accessories">
		          
      <% for accessory in @item.accessories %>
        <div class="field-holder">
    			<div id="form-field">
    			  <input type='text' value="<%= accessory.name %>" name='items[][accessory]' size="30">
    			  <%= link_to_function image_tag('icons/delete.png'), "$(this).parent().parent().remove()" %>
    			</div>
        </div>
      <% end %>
      
    </div>
		
    
	</di>
</div>


