<div id="message_area" style="display:none"></div>	
<div id="form-container">

		<div class="header-text">
			
			<div>Employee Details</div>
		</div>
		<div class="border-filler"></div>
		
		<div class="field-holder">
			<div id="form-label">
				Full Name:
			</div>
			<div id="form-field">
						<%= text_field :employee, :full_name, :size=>"67*39" %>
			</div>
			
  		<div id="form-label">
  			Designation:
  		</div>
  		<div id="form-field">
  					<%= select(:employee, :designation, Employee::Designation, {}) %>
  		</div>
			
		</div>
		
	  <div class="field-holder">
			<div id="form-label">
				Birth Date:
			</div>
			<div id="form-field">
						<%= date_select :employee, :date_of_birth, :start_year => 1960 %>
			</div>
		</div>
		<br />

		<div class="field-holder">
		  <div id="form-label">
		    Pag-ibig
		  </div>
		  <div id="form-field">
		    <%= text_field :employee, :pag_ibig, :size=>"30*39" %>
		  </div>
		</div>
		
		<div class="field-holder">
		  <div id="form-label">
 		    Phil Health
 		  </div>
 		  <div id="form-field">
 		    <%= text_field :employee, :phil_health, :size=>"30*39" %>
 		  </div>
		</div>
		
		<div class="field-holder">
		  <div id="form-label">
 		    Bank Account
 		  </div>
 		  <div id="form-field">
 		    <%= text_field :employee, :bank_account_number, :size=>"30*39" %>
 		  </div>
		</div>
		
			
</div>
<script type="text/javascript" charset="utf-8">
  $('#employee_date_of_birth').datepicker();
</script>
	