	<div class="headtitle">
			<div class="headtxt">Employee's Listing</div>
	</div>
		
			<table class="listing" width="100%" cellspacing=0 cellpadding=0>
				<thead class="lhead">
					<th>Full Name</th>
					<th>Designation</th>
					<th></th>
				</thead>
				<tbody>
					<% for employee in @employees do %>
						<tr class="<%= cycle('odd','')%>">					
							<td><%= employee.full_name %></td>
							<td><%= employee.designation %></td>
							<td style="float:right;">
							<span>
			 	             	<%= link_to_remote image_tag('icons/edit.gif',:title=>'Update' ),
			 	             	                    :url => {:action => 'ajax_edit', :id => employee.id } %>
                              	<%= link_to_remote image_tag('icons/delete.png',:title=>'Delete' ),
			 	             	                    :url => {:action => 'ajax_delete', :id => employee.id }, 
													:confirm => 'Are you sure to delete?' %>
			                </span>
							</td>
						</tr>				
					<%end%>
				</tbody>
			</table>
			<div class="list-footer"></div>
</div>
