<style>
 table th {
	 text-align: left; 
	 border-bottom: 1px solid #d7d7d7; 
	 border-top: 1px solid #d7d7d7;
 }
</style>

<div align = "left">
	<table align="left" style="font-size: 12pt" cellspacing="0" cellpadding="4">
	
	<thead>
		<th>Barcode</th>
		<th>Picture</th>
		<th>Serial No.</th>
		<th>Tool/Equipment</th>
		<th>Description</th>
		<th>Borrowed Qty</th>
		<th>Measurement</th>
		<th>Brand</th>
		<th>Remarks</th>
	</thead>
	<tbody>
		<% for rec in @records do %>
			<tr class="<%= cycle('odd','')%>" >
				<td><%= rec.item.barcode if rec.item.barcode %></td>			
				<td>&nbsp</td>
				<td>
					 <%= rec.item.serial_number if rec.item.serial_number %> 
				</td>
				<td>
					<%= rec.item.name if rec.item.name %>
				</td>
				<td>
					<%= rec.item.comments if rec.item.comments %>
				</td>
				<td>
				<%= rec.item.measurement.name if rec.item.measurement %>
				</td>
				<td>
					<%= rec.item.measurement.name if rec.item.measurement %>
				</td>
				<td>
				  <%= rec.item.brand.name if rec.item.brand %>
				</td>		
				<td align='center'><%= rec.item.status if rec.item.status %></td>
			</tr>				
		<%end%>
	</tbody>
	</table>
</div>
