<div class="item-container" id="formHolder">
		<div id="form-container">
				<%= render :partial => 'project_details' %>				
		</div>
		<div style="clear:both"></div>
	   <br /><br />
	   	<%= form_remote_tag(:url => {:action => "submit_user_problem_report"}) %>	
	   	
		   <div id="message_area" style="display:none"></div>
				<%= render :partial => 'user_report' %>
				<div style="clear:both"></div>
				<div style="margin-top: 20px">
					<div style="float: left; margin-top: 5px;">
						<%= image_submit_tag ("create-btn.png") %>
					</div>
					<div  style="float: left; margin-top:10px;">
						| <%= link_to_remote 'cancel', :url => {:action => 'ajax_list' } %>
					</div>
						<div style="clear:both"></div>
				</div>
			</div>
		</form>
		
</div>
<br />
<div class="border-filler"></div>
<br />
<div id="problem_list">
	<%= render :partial => 'user_list_problem' %>
</div>
