<div id="message_area" style="display:none"></div>
<div>

	<div id="form-container">

		<div class="header-text">
			<div style="width:100px">Project Details</div>
		</div>

		<div class="field-holder">
			<div id="form-label">
				Project NO:
			</div>
			<div id="form-field">
				<%= text_field :project, :project_unique_id, :size=>"60*39"%> 
			</div>
		</div>
		
		<div style="clear:both"></div>
    
		
		<div class="field-holder">
			<div id="form-label">
				Client:
			</div>
			<div id="form-field"  style="padding-top:5px">
			  <%= collection_select(:project, :client_id, @clients, :id, :name) %>
			</div>
		</div>
		
		<div style="clear:both"></div>
    
		
		<div class="field-holder">
			<div id="form-label">
				Assign Engineer:
			</div>
			<div id="form-field" style="padding-top:10px">
				<%= collection_select(:project, :assigned_employee_id, @engineers, :id, :full_name) %>
			</div>
		</div>
		
		<div style="clear:both"></div>
  
		<div class="field-holder">
			<div id="form-label">
				Profit:
			</div>
			<div id="form-field">
				<%= text_field :project, :profit_margin, :size=>"26*39" %>
			</div>
		</div>
		<div style="clear:both"></div>
		
		<div class="field-holder">
			<div id="form-label">
				Start Date:
			</div>
			<div id="form-field">
				<%= text_field :project, :start_date, :size=>"26*39" %>
			</div>
		</div>
		
		<div class="field-holder">
			<div id="form-label">
				End Date:
			</div>
			<div id="form-field">
				<%= text_field :project, :estimated_end_date, :size=>"26*39" %>
			</div>
		</div>
		
		<div class="field-holder">
			<div id="form-label">
				Test:
			</div>
			<div id="form-field">
				<%= check_box :project, :is_test %>
			</div>
		</div>

		<div class="field-holder">
			<div id="form-label">
				Active:
			</div>
			<div id="form-field">
				<%= check_box :project, :is_active %>
			</div>
		</div>
		<div style="clear:both"></div>
		
		
	</div>
</div>

<style>
	div.ui-datepicker{ font-size:10px; }
	#ui-datepicker-div{ z-index:2500 !important; } 
</style>

<script type="text/javascript" charset="utf-8">

  dates = $( "#project_start_date, #project_estimated_end_date" ).datepicker({

		changeMonth: true,
		changeYear: true,
		onSelect: function( selectedDate ) {
			option = this.id == "project_start_date" ? "minDate" : "maxDate",
				instance = $( this ).data( "datepicker" ),
				date = $.datepicker.parseDate(
					instance.settings.dateFormat ||
					$.datepicker._defaults.dateFormat,
					selectedDate, instance.settings );
			dates.not( this ).datepicker( "option", option, date );
		}
	});
	
</script>
