<div class="headtitle">
		<div class="headtxt">Supplier Listing</div>
</div>
<div >
	<table class="listing" width="100%" cellspacing=0 cellpadding=0>
		<thead class="lhead">
			<th>Supplier Name</th>
			<th>Contact Person</th>
			<th>Contact Details</th>
			<th></th>
		</thead>
		<tbody>
			<% for supplier in @suppliers do %>
				<tr class="<%= cycle('odd','')%>">
					<td><%= supplier.name %></td>
					<td><%= supplier.contact_person %></td>
					<td><%= supplier.contact_details %></td>
					<td style="float:right;">
					<span>
					<%= link_to_remote image_tag('icons/users_add.gif',:title=>'Update' ),
	 	             	        :url => {:controller => 'supplier_contacts', :action => 'ajax_new', :id => supplier.id } %>
					<%= link_to_remote image_tag('icons/edit.gif',:title=>'Update' ),
								:url => {:action => 'ajax_edit', :id => supplier.id } %>
					<%= link_to_remote image_tag('icons/delete.png',:title=>'Delete' ),
								:url => {:action => 'ajax_delete', :id => supplier.id }, 
								:confirm => 'Are you sure to delete?' %>
	                </span>
					</td>
				</tr>				
			<%end%>
		</tbody>
	</table>
	<div class="list-footer"></div>
</div>
