<table id="add_item"  class="listing" width="100%" cellspacing=0 cellpadding=0>
	<thead class="lhead">
		<th width="25px" align='center'>ID</th>
		<th>Name</th>
		<th width="10%">Brand</th>
		<th width="10%">Type</th>
		<th width="5%" align='center'>CQTY</th>
		<th width="3%">&nbsp;</th>
	</thead>
	<tbody>
	  
	  <% for item in @items do %>
			<tr class="<%= cycle('odd','')%>" >					
				<td align='center'><%=item.id%></td> 
				<td>
					<%= item.name %>
					<div class="ssub">
					    serial #:<%= item.serial_number %> <br />
					    barcode #:<%= item.barcode %>
					</div>
				</td>
				<td>
				  <%= item.brand.name if item.brand %>
				</td>
				<td>
				  <%= item.type.name if item.type %>
				</td>
				<td align='center'><%= item.current_qty %></td>
				<td>
					<%= link_to_remote image_tag('banners_add.gif', :title => 'Click to Create'),
	 	             	                    :url => {:action => 'add', :id => item.id } %>
				</td>
			</tr>				
		<% end %>

	</tbody>
</table>
<div class="list-footer"></div>